frontend-admin/node_modules
frontend-voter/node_modules
backend/node_modules
npm-debug.log
node_modules
.git
.gitignore
cloudbuild.yaml
README.md

# Allow config template
!frontend-admin/default.conf.template
