server {
    listen 8080;
    server_name _;

    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $uri /index.html;
    }

    # Prevent caching for PWA files
    location /sw.js {
        add_header Cache-Control "no-cache";
    }

    location /manifest.webmanifest {
        add_header Cache-Control "no-cache";
    }
}
