server {
    listen 8080;
    server_name _;

    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }

    location ~* \.(?:manifest\.webmanifest|json|ico|png|jpg|jpeg|gif|svg|css|js|woff2?|ttf|mp3|mp4|webp|txt)$ {
        expires 6M;
        access_log off;
        add_header Cache-Control "public, no-transform";
    }

    error_page 404 /index.html;
}
